@page
@model AdAstra.Pages.Admin.AdminReport.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Report.ReportedAt" class="control-label"></label>
                <input asp-for="Report.ReportedAt" class="form-control" />
                <span asp-validation-for="Report.ReportedAt" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label hidden asp-for="Report.ReporterId" class="control-label"></label>
                <select hidden asp-for="Report.ReporterId" class ="form-control" asp-items="ViewBag.ReporterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Report.PostId" class="control-label"></label>
                <select asp-for="Report.PostId" class="form-control" asp-items="ViewBag.PostId"></select>
            </div>            
            <div class="form-group">
                <label asp-for="Report.ReplyId" class="control-label"></label>
                <select asp-for="Report.ReplyId" class="form-control" asp-items="ViewBag.ReplyId"><option value="">Select a reply (optional)</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
