@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ad Astra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdAstra.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark-gray border-bottom box-shadow mb-3">
            <div class="container">
                <a id="title" class="navbar-brand" asp-area="" asp-page="/Index">Ad Astra</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("Higgs"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/AdminRole/Index">Higgs</a>
                            </li>
                        }
                        @if (User.IsInRole("Higgs") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Admin/Index">Admin</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="banner" class="text-center">
                <div class="banner-text">
                    <h1 id="title" class="display-6">Ad Astra</h1>
                    <p>The #1 forum for space enthusiasts. Join the ultimate community where space exploration meets astronomy, and engage with experts and fans in lively discussions about the latest space missions, cosmic discoveries, and beyond.</p>
                </div>
            </div> 
            <div >
                <form method="get" class="searchbar" action="/SearchResults">
                    <div class="form-group">
                        <label hidden for="searchPrompt">Search</label>
                        <input type="text" id="searchPrompt" name="searchPrompt" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="search-icon"><img src="~/img/interactive_icons/search.svg"/></button>
                </form>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AdAstra - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>