@using Microsoft.AspNetCore.Identity
@using AdAstra.Areas.Identity.Data
@using System.Security.Claims


@inject SignInManager<AdAstraUser> SignInManager
@inject UserManager<AdAstraUser> UserManager
@{
    string userId = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-route-userId="@userId" asp-page="/Messages"><img src="~/img/interactive_icons/message.svg" /></a>
            </li>
        }

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
