@page
@model AdAstra.Pages.Admin.IndexModel
@{
}

<a href="/Admin/AdminCategory">Categories</a>
<br />
<a href="/Admin/AdminMessage">Messages</a>
<br>
<a href="/Admin/AdminPost">Posts</a>
<br>
<a href="/Admin/AdminReply">Replies</a>
<br>
<a href="/Admin/AdminReport">Reports</a>
