@page
@model AdAstra.Pages.AdminRole.IndexModel
@{
    ViewData["Title"] = "Higgs";
}

@if(Model.Roles is not null)
{
    <table class="table table-striped">
    <tr>
        <th style="width:30px">User</th>
        <th></th>
        @foreach (var role in Model.Roles)
        {
            <th>@role.Name</th>
        }
    </tr>
    @foreach(var user in Model.Users)
        {
            var imgSrc = string.Empty;
            if(user.Avatar == "~/img/user.png")
            {
                imgSrc = user.Avatar;
            }
            else
            {
                imgSrc = "~/userImages/" + user.Avatar;
            }
            <tr>
                <td><img class="avatar" src="@Url.Content(imgSrc)" alt="Alternate Text" style="width:30px" /></td>
                <td>@user.UserName</td>

            @foreach (var role in Model.Roles)
            {
                if (await Model._userManager.IsInRoleAsync(user, role.Name))
                {
                    <td><a href="?RemoveUserId=@user.Id&RoleName=@role.Name">Yes</a></td>
                }
                else
                {
                    <td><a href="?AddUserId=@user.Id&RoleName=@role.Name">No</a></td>
                }
            }

        </tr>
    }
</table>
}


<form method="post">
    <label for="RoleName">New Role</label>
    <input type="text" name="RoleName" id="RoleName"/>
    <input type="submit" value="Create Role"/>
</form>