:root {
    --dark: #1A1F29;
    --border-radius: 6px;
    --border-radius-avatar: 50px;
    --box-shadow: 5px 5px 10px #0a0c10, -5px -5px 10px #2a3242;
    --box-shadow-input: inset 5px 5px 10px #5a5a5a, inset -5px -5px 10px #ffffff;
    --pink: #F92672;
    --light-blue: #66D9EF;
    --yellow: #FFFF00;
    --green: #A6E22E;
}

/*=================== GENERAL STYLES ===================*/

html {
    font-size: 14px;
}

@font-face {
    font-family: 'Adam Cg';
    src: url('/fonts/Adam CG.otf') format('opentype');
}

@font-face {
    font-family: 'Futura Book';
    src: url('/fonts/Futura Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Medium';
    src: url('/fonts/Futura Medium.ttf') format('truetype');
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#title {
    font-family: "Adam Cg", sans-serif;
    color: white;
}

body {
    font-family: "Futura Book", sans-serif;
    margin-bottom: 60px;
    color: white;
    background-color: var(--dark);
}

a {
    color: white;
}

    a:hover {
        color: var(--light-blue);
        cursor: pointer;
    }

.action-button {
    background-color: transparent;
    border: none;
    width: 30px;
    margin-right: .5rem;
}

.avatar {
    width: 50px;
    border-radius: 50px;
}

.checkbox .form-label {
    color: white;
}

.category-name {
    grid-row: 1;
    grid-column: 1;
}

label {
    color: grey;
}

.privacy-policy{
    display: grid;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 40px;
    justify-items: center;
    
}

ol li {
    list-style: decimal;
}

    ol li::marker {
        font-size: 1.5rem;
    }

    ol li p {
        font-size: 1.2rem;
text-justify: auto;    }

.privacy-ul-li {
    list-style: disc;
}

.table, th, td {
    color: white;
}

    .table th {
        font-weight: 600;
        font-size: 1.2rem;
    }

#banner {
    display: grid;
    justify-items: center;
    align-content: center;
    background-image: url('../img/ad_astra_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
}

.banner-text {
    width: 50%;
}

    .banner-text p {
        font-weight: 500;
        font-size: 1.25rem;
    }

.row {
    margin-top: 2rem;
}

/*=================== COOKIES ===================*/

#cookies-link {
    color: var(--dark);
    font-weight: bold;
}

#cookie-btn {
    border: 2px solid white;
    background-color: var(--dark);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    color: white;
}

    #cookie-btn:hover {
        border: 2px solid var(--dark);
        background-color: white;
        color: var(--dark);
    }

#cookieConsentdiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: var(--dark);
    padding: 10px;
    left: 0;
    text-align: center;
    z-index: 1000;
    font-family: "Futura Book", sans-serif;
}
/*=================== CATEGORIES ===================*/

.cat-card {
}

.cat-row {
}

.cat-card-body {
    display: grid;
    align-content: center;
}

.cat-card-content {
}

.cat-img {
    position: absolute;
    margin-right: 1rem;
    width: 200px;
    z-index: 0;
    margin: auto;
    opacity: .15;
    justify-self: center;
    align-self: center;
}

.card {
    background-color: var(--dark);
    border: none;
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 48.25%;
}


.cat-description {
    font-size: 1.2rem;
}

.subcat {
    font-size: 1.2rem;
}

    .subcat a:hover {
        color: var(--light-blue);
        cursor: pointer;
    }

@media (max-width:1199px) {
    .cat-card {
        width: 96%;
    }

    .cat-img {
        width: 150px;
    }
}

/*=================== HOME ===================*/
.cat-list-card {
    border-radius: var(--border-radius);
}

.category-list {
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.25rem;
    margin-left: .75rem;
}

    .category-list .text-start h1 {
        font-size: 2rem;
    }

        .category-list .text-start h1 a {
            color: white;
            cursor: pointer;
        }

            .category-list .text-start h1 a:hover {
                color: var(--light-blue);
                cursor: pointer;
            }

    .category-list .text-start h3 {
        font-size: 1.5rem;
    }

.index-col-9 {
    width: 77.5%;
}

@media (max-width:1199px) {
    .category-list {
        width: 97.5%;
    }

    .index-post {
        margin-left: 0;
    }

    .latest {
        margin-top: 1.25rem;
    }

    .index-col-9 {
        padding: 0;
        width: 97%;
    }
}

/*=================== POST ===================*/
.category_create-post {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 12rem;
    row-gap: 1rem;
}

.category_create-post-btn {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    grid-row: 1;
    grid-column: 2;
    font-size: 1.25rem;
}

.create-post-form {
    grid-column: 1 /span 2;
    text-align: right;
    width: 50%;
    justify-self: end;
}

.create-post {
    border: none;
    border-radius: var(--border-radius);
    background: #e0e0e0;
    box-shadow: var(--box-shadow-input);
}

.create-btn {
    background-color: var(--dark);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

    .create-btn:hover {
        background-color: white;
        border: none;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-input);
        color: var(--dark);
    }

        .create-btn:hover img {
            filter: brightness(0) saturate(100%) invert(9%) sepia(11%) saturate(1578%) hue-rotate(182deg) brightness(98%) contrast(93%);
        }

.create-post-label {
    color: white;
}

.post {
    display: grid;
    align-content: center;
    /*repeat(4, 50px);*/
    width: 100%;
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
    border: none;
}

.post-page {
    margin-left: 0;
}

.post .card-body {
    display: grid;
    grid-template-rows: 30px auto, auto, 80px;
    grid-template-columns: 80px 1fr auto;
    column-gap: 20px;
}

.round-avatar {
    border-radius: var(--border-radius-avatar);
    width: 60px;
    grid-row: 1 / span 2;
    grid-column: 1;
    justify-self: center;
}

.avatar {
    border-radius: var(--border-radius-avatar);
    align-self: end;
}

.post-firstname {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    align-self: start;
}

.post-date {
    grid-column: 2;
    grid-row: 1;
}

.post-title {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.post-content {
    grid-column: 2 / span 2;
    grid-row: 3;
}

.reply-content {
    grid-column: 2;
    grid-row: 2;
}

.stats {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    gap: 3rem;
    justify-content: end;
}

.post-replies {
    color: var(--green);
}

.post-likes {
    color: var(--light-blue);
}

.post-reports {
    color: var(--pink);
}

    .post-replies img, .post-likes img, .post-reports img {
        margin-right: 10px;
    }

@media (max-width: 1199px) {
    .create-post-form {
        width: 100%
    }
}

/*=================== REPLY ===================*/


.create-reply-form-container {
    display: grid;
    grid-template-columns: 1fr;
}

.create-reply-form {
    text-align: end;
    justify-self: end;
    grid-row: 2;
    width: 50%;
    right: 0;
}

.create-reply-content {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-input);
}

.reply {
    display: grid;
    align-content: center;
    grid-template-rows: 50px auto 50px 50px;
    grid-template-columns: auto 1fr;
    background-color: var(--dark);
    box-shadow: var(--box-shadow);
    width: inherit;
    margin-left: 1rem;
    border: none;
    height: auto;
}

    .reply .card-body {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
        column-gap: 20px;
    }

.reply-page {
    margin-left: 5rem;
}



.reply-round-avatar {
    border-radius: var(--border-radius-avatar);
    width: 60px;
    grid-row: 1 / span 2;
    grid-column: 1;
    justify-self: center;
}


.reply-firstname {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    align-self: start;
}

.reply-date {
    grid-column: 2;
    grid-row: 1;
}

.reply-title {
    grid-column: 2;
    grid-row: 2;
}

.reply-content {
    grid-column: 2;
    grid-row: 3;
}

.reply-content {
    grid-column: 2;
    grid-row: 2;
}

.stats {
    display: flex;
    grid-row: 4;
    grid-column: 2;
    gap: 3rem;
    justify-content: end;
}

.reply-replies {
    color: var(--green);
}

.reply-likes {
    color: var(--light-blue);
}

.reply-reports {
    color: var(--pink);
}

    .reply-replies img, .reply-likes img, .reply-reports img {
        margin-right: 10px;
    }

.subreply {
    margin-left: 10rem;
}

.sub-subreply {
    margin-left: 10rem;
}

.subreply-subreply {
    margin-left: 12rem;
}

 @media (max-width: 1199px){
    .create-reply-form{
        width: 100%
    }
 }

        /*===============PROFILE================*/

        .profile-card {
            margin-left: 0;
            width: 100%;
            margin-top: 2rem;
        }

        .profile-card-body {
            display: grid;
            row-gap: 1rem;
            column-gap: 2rem;
            justify-content: start;
            grid-template-columns: 150px, 1fr;
            grid-template-rows: 10px, auto;
        }

        .profile-avatar {
            width: 150px;
            border-radius: calc(var(--border-radius-avatar)*2);
            grid-column: 1;
            grid-row: 1;
            justify-self: end;
        }

        .profile-message-icon {
            justify-self: center;
            grid-column: 1;
            grid-row: 2;
            width: 30px;
        }

        .profile-user-info {
            grid-column: 2;
        }

        @media (max-width:770px) {
            #sendMessageForm {
                width: 100%;
            }
        }
        /*===============Messages================*/

        .message-card {
            margin-left: 0;
            width: 100%
        }

        .message-avatar {
            align-self: center;
        }

        /*===============Search================*/
        .searchbar {
            display: grid;
            align-content: center;
            grid-template-rows: 3rem;
            grid-template-columns: auto 50px;
            margin-top: 2rem;
            background-color: white;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow-input);
            width: 30%;
        }

        #searchPrompt {
            background-color: transparent;
            border: none;
            grid-column: 1;
            align-self: center;
            height: 3rem;
            outline: none;
        }

        .search-icon {
            border: none;
            grid-column: 2;
            background-color: transparent;
            filter: brightness(0) saturate(100%) invert(9%) sepia(11%) saturate(1578%) hue-rotate(182deg) brightness(98%) contrast(93%);
        }

            .search-icon:active {
                transform: scale(.9);
            }

        @media (max-width: 1199px) {
            .searchbar {
                width: 100%
            }
        }
        /*======================================*/
        .latest {
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        

        /*===============INDENTATION================*/

        @media (max-width: 576px) {

            .post card-body {
                grid-template-rows: 50px auto auto 200px;
                grid-template-columns: 80px auto auto;
            }

            .post-title {
                word-break: break-word;
            }

            .reply-page {
                margin-left: 1rem;
            }

            .subreply-page {
                margin-left: 2rem;
            }

            .sub-subreply {
                margin-left: 2rem;
            }

            .subreply-subreply {
                margin-left: 4rem;
            }

            .post {
                min-width: 100%;
            }

            .post-stats {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }

            .reply-stats, .subreply-stats {
                column-gap: 10px;
            }
        }
