@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@ViewData["Title"] - <span style="font-size: 1.5rem;">2024-05-30</span></h1>
<br />

<div class ="privacy-policy">
    <ol>
        <li>
            <h4>Introduction</h4>
            <p>
                Welcome to AdAstra. We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, and protect your information.
            </p>
        </li>
        <br />
        <li>
            <h4>Data Collection</h4>
            <p>
                We collect the following types of data from users:
                <ul>
                    <li class="privacy-ul-li">
                        <p>Personal Information: Name, email address, birth year, and profile picture (if uploaded by the user).</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Content: Posts, replies, messages, and reports created by the user.</p>
                    </li>
                </ul>
            </p>
            <p>
                Data is collected through registration forms, posting forms, and other interactions on the website.
            </p>
        </li>
        <br />
        <li>
            <h4>Data Usage</h4>
            <p>
                The data we collect is used solely for the functioning of the website, including:
                <ul>
                    <li class="privacy-ul-li">
                        <p>Displaying posts and replies.</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Facilitating messaging functions.</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Managing user profiles.</p>
                    </li>
                </ul>
            </p>
            <p>
                We do not use the data for any other purposes.
            </p>
        </li>
        <br />
        <li>
            <h4>Data Sharing</h4>
            <p>
                We do not share user data with any third parties.
            </p>
        </li>
        <br />
        <li>
            <h4>User Rights</h4>
            <p>
                Users have the following rights regarding their data:
                <ul>
                    <li class="privacy-ul-li">
                        <p>Access: Users can download their data.</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Deletion: Users can delete their account, which will remove their data from our systems.</p>
                    </li>
                </ul>
            </p>
        </li>
        <br />
        <li>
            <h4>Data Security</h4>
            <p>
                We take the security of your data seriously. Data is encrypted according to ASP.NET Identity standards. Cookies are valid for one year, and data is retained as long as the user is a member of the forum.
            </p>
        </li>
        <br />
        <li>
            <h4>Cookies</h4>
            <p>
                We use cookies to enhance the user experience. By using our website, you automatically accept our use of cookies. A cookie consent pop-up appears when you visit the site, and you need to click "Understood" to continue using the site.
            </p>
        </li>
        <br />
        <li>
            <h4>Contact Information</h4>
            <p>
                If you have any questions or concerns about this Privacy Policy or your data, please <a href="mailto:info@Ad-Astra.azurewebsites.net">contact us</a>.
            </p>
        </li>
        <br />
        <li>
            <h4>Changes to the Privacy Policy</h4>
            <p>
                We may update this Privacy Policy from time to time. Any changes will be posted on this page, and we will notify users of any significant changes.
            </p>
        </li>
        <br />
        <li>
            <h4>Legal Basis for Processing User Data</h4>
            <p>
                We process user data based on the necessity to provide the services requested by the user. This includes:
                <ul>
                    <li class="privacy-ul-li">
                        <p>Displaying posts and replies.</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Facilitating messaging functions.</p>
                    </li>
                    <li class="privacy-ul-li">
                        <p>Managing user profiles.</p>
                    </li>
                </ul>
            </p>
            <p>
                The processing of personal data is necessary to perform the contract between the user and AdAstra, ensuring the proper functioning of the website.
            </p>
        </li>
    </ol>
</div>


